/* App.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom styles */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

.table th,
.table td {
  padding: 0.75rem;
  border-bottom: 1px solid #800000;
  color: #ffc000; /* White text */
}

.table th {
  background-color: #000; /* Black background */
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}

.table tbody tr:nth-child(even) {
  background-color: #000; /* Black background */
}

.table tbody tr:hover {
  background-color: #222; /* Darker shade of black for hover */
}
